% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_sys"
	BlindSRs: False
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: ./output_plots/taunub_sys
	ImageFormat: png
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MergeUnderOverFlow: True
	POI: SigXsecOverSM
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS,OVERSIG
	PrePostFitCanvasSize: 800,600
	RatioType: DATAOVERBKG
	RatioYmax: 1.5
	RatioYmaxPostFit: 2
	RatioYmin: 0.5
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SummaryPlotYmax: 1e5
	SystControlPlots: True
	SystPruningNorm: 0.005
	SystPruningShape: 0.005
	UseGammaPulls: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRONLY
	FitType: BONLY
	NumCPU: 8
	POIAsimov: 1
	UseMinos: SigXsecOverSM
	doLHscan: all

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_sch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1e_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1e_sch
	Label: "1#tau1e1b, Resonance topCR"
	LogScale: True
	Rebinning: 0,700
	ShortLabel: topCR_1tau1e_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1mu_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1mu_sch
	Label: "1#tau1#mu1b, Resonance topCR"
	LogScale: True
	Rebinning: 0,700
	ShortLabel: topCR_1tau1mu_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1e_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1e_tch
	Label: "1#tau1e1b, Non-Resonance topCR"
	LogScale: True
	Rebinning: 0,700
	ShortLabel: topCR_1tau1e_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1mu_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1mu_tch
	Label: "1#tau1#mu1b, Non-Resonance topCR"
	LogScale: True
	Rebinning: 0,700
	ShortLabel: topCR_1tau1mu_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_0tau1e1b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_0tau1e1b_sch
	Label: "0#tau1e1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: WVR_0tau1e1b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_0tau1mu1b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_0tau1mu1b_sch
	Label: "0#tau1#mu1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: WVR_0tau1mu1b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_0tau1e1b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_0tau1e1b_tch
	Label: "0#tau1e1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: WVR_0tau1e1b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_0tau1mu1b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_0tau1mu1b_tch
	Label: "0#tau1#mu1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: WVR_0tau1mu1b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "LQ_taunub_M1500"
	FillColor: 2
	HistoFile: LQ_taunub_M1500
	LineColor: 2
	Regions: SR_*
	TexTitle: "$LQ$ (U1, 1.5 TeV), BF"
	Title: "M_{LQ}=1.5 TeV, g_{U}=1.5, #beta_{23}=0.2"
	Type: SIGNAL

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar_dilep"
	FillColor: 117
	Group: ttbar
	HistoFile: ttbar_dilep
	LineColor: 117
	Title: "t#bar{t}_dilep"
	Type: BACKGROUND

Sample: "ttZ"
	FillColor: 120
	Group: ttbar
	HistoFile: ttZ
	LineColor: 120
	Title: ttZ
	Type: BACKGROUND

Sample: "SingleTop_tch"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop_tch
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "SingleTop_sch"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop_sch
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "SingleTop_tW"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop_tW
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Z+jets
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Zjet_EWK"
	FillColor: 106
	Group: Z+jets
	HistoFile: Zjet_EWK
	LineColor: 106
	Title: Zjet_EWK
	Type: BACKGROUND

Sample: "Wlnu"
	FillColor: 125
	Group: W+jets
	HistoFile: Wlnu
	LineColor: 125
	Title: "Wl#nu+j"
	Type: BACKGROUND

Sample: "Wtaunu_METTAU"
	FillColor: 126
	Group: W+jets
	HistoFile: Wtaunu_METTAU
	LineColor: 126
	Title: "W#tau#nu+j"
	Type: BACKGROUND

Sample: "Wtaunu_HF"
	FillColor: 126
	Group: W+jets
	HistoFile: Wtaunu_HF
	LineColor: 126
	Title: "W#tau#nu+j"
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

Sample: "Diboson_semiLep"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson_semiLep
	LineColor: 118
	Title: Diboson_semilep
	Type: BACKGROUND

Sample: "Dijet"
	FillColor: 124
	HistoFile: Dijet
	LineColor: 124
	Title: Dijet
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "SigXsecOverSM"
	Category: Theory
	Max: 10
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: LQ_taunub_M1500
	Title: "#mu(signal_sch)"

NormFactor: "top_Norm_tch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: tt*, SingleTop*
	Title: "#mu(top_tch)"

NormFactor: "Wjets_Norm_tch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: W*
	Title: "#mu(Wjets_tch)"

NormFactor: "top_Norm_sch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: tt*, SingleTop*
	Title: "#mu(top_sch)"

NormFactor: "Wjets_Norm_sch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: W*
	Title: "#mu(Wjets_sch)"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

