% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_nom_1l_allVR_N_minus_1"
	BlindSRs: False
	BlindingThreshold: 0.05
	BlindingType: SOVERB
	CleanTables: True
	CorrelationThreshold: 0.1
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: ./output_plots/taunub_nom_1l_allVR_N_minus_1
	ImageFormat: pdf
	Label: Run-2
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	MergeUnderOverFlow: True
	POI: gU
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS
	PrePostFitCanvasSize: 800,600
	RankingMaxNP: 20
	RankingPlot: All
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SmoothingOption: MAXVARIATION
	SummaryPlotYmax: 1e5
	SystCategoryTables: True
	SystControlPlots: False
	SystPruningNorm: 0.0001
	SystPruningShape: 0.0001
	UseGammaPulls: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRONLY
	FitType: BONLY
	LHscanSteps: 20
	NumCPU: 8
	POIAsimov: 1
	ToleranceScale: 0.01
	UseMinos: all
	doLHscan: gU

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_sch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_sch
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_met_sig"
	DataType: ASIMOV
	HistoName: NOSYS/met_sig_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_sch
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met_sig
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_tch
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met_sig"
	DataType: ASIMOV
	HistoName: NOSYS/met_sig_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_tch
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met_sig
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_met_N_minus_1_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_sch_met_N_minus_1
	Label: SR_1tau0l1b_sch_met_N_minus_1
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_sch_met_N_minus_1
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_met_N_minus_1_met_sig"
	DataType: ASIMOV
	HistoName: NOSYS/met_sig_SR_1tau0l1b_sch_met_N_minus_1
	Label: SR_1tau0l1b_sch_met_N_minus_1
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_sch_met_N_minus_1
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met_sig
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met_N_minus_1_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_tch_met_N_minus_1
	Label: SR_1tau0l1b_tch_met_N_minus_1
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_tch_met_N_minus_1
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met_N_minus_1_met_sig"
	DataType: ASIMOV
	HistoName: NOSYS/met_sig_SR_1tau0l1b_tch_met_N_minus_1
	Label: SR_1tau0l1b_tch_met_N_minus_1
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_tch_met_N_minus_1
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met_sig
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_sch
	Label: "0#tau1l0b, Resonance WCR"
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: WCR_0tau1l0b_sch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_tch
	Label: "0#tau1l0b, Non-Resonance WCR"
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: WCR_0tau1l0b_tch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_sch
	Label: "1#tau1l1b, Resonance topCR"
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: topCR_1tau1l_sch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_tch
	Label: "1#tau1l1b, Non-Resonance topCR"
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: topCR_1tau1l_tch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_sch
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_tch
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_sch
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_tch
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_sch
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_tch
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_tch_met_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch_met_N_minus_1
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_lep_pt_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_VR_0tau1l1b_tch_lep_pt_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch_lep_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_VR_0tau1l1b_tch_bjet_pt_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch_bjet_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_VR_0tau1l1b_tch_n_bjets_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch_n_bjets_N_minus_1
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_VR_0tau1l1b_tch_mT_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch_mT_N_minus_1
	Type: VALIDATION
	VariableTitle: mT
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_VR_0tau1l1b_tch_dphi_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch_dphi_N_minus_1
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_sch_met_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch_met_N_minus_1
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_lep_pt_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_VR_0tau1l1b_sch_lep_pt_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch_lep_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_VR_0tau1l1b_sch_bjet_pt_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch_bjet_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_VR_0tau1l1b_sch_n_bjets_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch_n_bjets_N_minus_1
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_VR_0tau1l1b_sch_mT_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch_mT_N_minus_1
	Type: VALIDATION
	VariableTitle: mT
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_InvM_N_minus_1_Mlb"
	DataType: DATA
	HistoName: NOSYS/Mlb_VR_0tau1l1b_sch_InvM_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch_InvM_N_minus_1
	Type: VALIDATION
	VariableTitle: Mlb
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_sch_met_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch_met_N_minus_1
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_tau_pt_N_minus_1_tau_pt_0"
	DataType: DATA
	HistoName: NOSYS/tau_pt_0_WVR_1tau0l0b_sch_tau_pt_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch_tau_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: tau_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_jet_pt_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WVR_1tau0l0b_sch_jet_pt_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch_jet_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_njets_N_minus_1_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WVR_1tau0l0b_sch_njets_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch_njets_N_minus_1
	Type: VALIDATION
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_mT_N_minus_1_mT_tau_met"
	DataType: DATA
	HistoName: NOSYS/mT_tau_met_WVR_1tau0l0b_sch_mT_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch_mT_N_minus_1
	Type: VALIDATION
	VariableTitle: mT_tau_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_InvM_N_minus_1_Mtaujet"
	DataType: DATA
	HistoName: NOSYS/Mtaujet_WVR_1tau0l0b_sch_InvM_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_sch_InvM_N_minus_1
	Type: VALIDATION
	VariableTitle: Mtaujet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_tch_met_N_minus_1
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch_met_N_minus_1
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_tau_pt_N_minus_1_tau_pt_0"
	DataType: DATA
	HistoName: NOSYS/tau_pt_0_WVR_1tau0l0b_tch_tau_pt_N_minus_1
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch_tau_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: tau_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_jet_pt_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WVR_1tau0l0b_tch_jet_pt_N_minus_1
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch_jet_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_njets_N_minus_1_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WVR_1tau0l0b_tch_njets_N_minus_1
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch_njets_N_minus_1
	Type: VALIDATION
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_mT_N_minus_1_mT_tau_met"
	DataType: DATA
	HistoName: NOSYS/mT_tau_met_WVR_1tau0l0b_tch_mT_N_minus_1
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch_mT_N_minus_1
	Type: VALIDATION
	VariableTitle: mT_tau_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_dphi_N_minus_1_dphi_taumet"
	DataType: DATA
	HistoName: NOSYS/dphi_taumet_WVR_1tau0l0b_tch_dphi_N_minus_1
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_tch_dphi_N_minus_1
	Type: VALIDATION
	VariableTitle: dphi_taumet
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_sch_met_N_minus_1
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch_met_N_minus_1
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_tau_pt_N_minus_1_tau_pt_0"
	DataType: DATA
	HistoName: NOSYS/tau_pt_0_topVR_1tau0l2b_sch_tau_pt_N_minus_1
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch_tau_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: tau_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_topVR_1tau0l2b_sch_bjet_pt_N_minus_1
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch_bjet_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_topVR_1tau0l2b_sch_n_bjets_N_minus_1
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch_n_bjets_N_minus_1
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_mT_N_minus_1_mT_tau_met"
	DataType: DATA
	HistoName: NOSYS/mT_tau_met_topVR_1tau0l2b_sch_mT_N_minus_1
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch_mT_N_minus_1
	Type: VALIDATION
	VariableTitle: mT_tau_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_InvM_N_minus_1_Mtaub"
	DataType: DATA
	HistoName: NOSYS/Mtaub_topVR_1tau0l2b_sch_InvM_N_minus_1
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_sch_InvM_N_minus_1
	Type: VALIDATION
	VariableTitle: Mtaub
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_tch_met_N_minus_1
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch_met_N_minus_1
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_tau_pt_N_minus_1_tau_pt_0"
	DataType: DATA
	HistoName: NOSYS/tau_pt_0_topVR_1tau0l2b_tch_tau_pt_N_minus_1
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch_tau_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: tau_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_topVR_1tau0l2b_tch_bjet_pt_N_minus_1
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch_bjet_pt_N_minus_1
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_topVR_1tau0l2b_tch_n_bjets_N_minus_1
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch_n_bjets_N_minus_1
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_mT_N_minus_1_mT_tau_met"
	DataType: DATA
	HistoName: NOSYS/mT_tau_met_topVR_1tau0l2b_tch_mT_N_minus_1
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch_mT_N_minus_1
	Type: VALIDATION
	VariableTitle: mT_tau_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_dphi_N_minus_1_dphi_taumet"
	DataType: DATA
	HistoName: NOSYS/dphi_taumet_topVR_1tau0l2b_tch_dphi_N_minus_1
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_tch_dphi_N_minus_1
	Type: VALIDATION
	VariableTitle: dphi_taumet
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "MU2500_gU2_5_23L1_0_sch"
	FillColor: 2
	Group: MU2500_gU2_5_23L1_0
	HistoFile: MU2500_gU2_5_23L1_0_sch
	LineColor: 2
	Regions: SR_*sch*
	Title: "MU2500_gU2_5_23L1_0, BSM+Inf, resonance"
	Type: SIGNAL

Sample: "MU2500_gU2_5_23L1_0_tch"
	FillColor: 2
	Group: MU2500_gU2_5_23L1_0
	HistoFile: MU2500_gU2_5_23L1_0_tch
	LineColor: 2
	Regions: SR_*tch*
	Title: "MU2500_gU2_5_23L1_0, BSM+Inf, non-resonance"
	Type: SIGNAL

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar"
	FillColor: 117
	Group: ttbar
	HistoFile: ttbar
	LineColor: 117
	Title: "t#bar{t}"
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zjets"
	FillColor: 106
	Group: Z+jets
	HistoFile: Zjets
	LineColor: 106
	Title: Zjets
	Type: BACKGROUND

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 125
	Title: W+jets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "gU"
	Category: Theory
	Max: 10
	Min: 0
	Nominal: 1
	Samples: MU2500_gU2_5_23L1_0*
	Title: "#mu(signal)"

NormFactor: "top_Norm_tch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Non-Res}"

NormFactor: "Wjets_Norm_tch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: W*
	Title: "#lambda_{W}^{Non-Res}"

NormFactor: "top_Norm_sch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Res}"

NormFactor: "Wjets_Norm_sch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: W*
	Title: "#lambda_{W}^{Res}"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

