% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_sys_1l_allVR_BONLY_MU1500_gU1_5_23L0_2_alldecay_corrected_Mass_mT_VR"
	BlindSRs: True
	BlindingThreshold: 0.05
	BlindingType: SOVERB
	CleanTables: True
	CorrelationThreshold: 0.2
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: /afs/cern.ch/work/z/zang/LQanalysis/taux_fastframes/run/output_plots/taunub_nom_1l_allVR_with_beamspot_v04_Mass_mT_VR
	ImageFormat: pdf
	Label: Run-2
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	MergeUnderOverFlow: True
	POI: mu
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS,OVERSIG
	PrePostFitCanvasSize: 800,600
	RankingMaxNP: 20
	RankingPlot: All
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SmoothingOption: MAXVARIATION
	StatOnly: False
	SummaryPlotYmax: 1e5
	SystCategoryTables: True
	SystControlPlots: False
	SystPruningNorm: 0.01
	SystPruningShape: 0.01
	UseGammaPulls: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRONLY
	FitType: BONLY
	LHscanSteps: 20
	NumCPU: 8
	POIAsimov: 1
	UseMinos: mu
	doLHscan: mu

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_sch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: SR_1tau0l1b_sch
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: SR_1tau0l1b_tch
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_sch
	Label: "0#tau1l0b, Resonance WCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WCR_0tau1l0b_sch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_tch
	Label: "0#tau1l0b, Non-Resonance WCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WCR_0tau1l0b_tch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_sch
	Label: "1#tau1l1b, Resonance topCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topCR_1tau1l_sch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_tch
	Label: "1#tau1l1b, Non-Resonance topCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topCR_1tau1l_tch
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_sch
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_sch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_tch
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_tch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_sch
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WVR_1tau0l0b_sch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_tch
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WVR_1tau0l0b_tch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_sch
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topVR_1tau0l2b_sch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_tch
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topVR_1tau0l2b_tch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "InvMRevVR_1tau0l1b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_InvMRevVR_1tau0l1b_sch
	Label: "1#tau0l1b, Resonance VR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: InvMRevVR_1tau0l1b_sch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "mTRevVR_1tau0l1b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_mTRevVR_1tau0l1b_tch
	Label: "1#tau0l1b, Non-Resonance VR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: mTRevVR_1tau0l1b_tch
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "MU1500_gU1_5_23L0_2_alldecay_corrected_sch"
	FillColor: 2
	Group: MU1500_gU1_5_23L0_2
	HistoFile: MU1500_gU1_5_23L0_2_alldecay_corrected_sch
	LineColor: 2
	Regions: SR_1tau0l1b_sch_met,WCR_0tau1l0b_sch_met,topCR_1tau1l_sch_met,VR_0tau1l1b_sch_met_VR,WVR_1tau0l0b_sch_met,topVR_1tau0l2b_sch_met,InvMRevVR_1tau0l1b_sch_met
	Title: "MU1500_gU1_5_23L0_2, BSM, resonance"
	Type: SIGNAL

Sample: "MU1500_gU1_5_23L0_2_alldecay_corrected_tch"
	FillColor: 2
	Group: MU1500_gU1_5_23L0_2
	HistoFile: MU1500_gU1_5_23L0_2_alldecay_corrected_tch
	LineColor: 2
	Regions: SR_1tau0l1b_tch_met,WCR_0tau1l0b_tch_met,topCR_1tau1l_tch_met,VR_0tau1l1b_tch_met_VR,WVR_1tau0l0b_tch_met,topVR_1tau0l2b_tch_met,mTRevVR_1tau0l1b_tch_met
	Title: "MU1500_gU1_5_23L0_2, BSM, non-resonance"
	Type: SIGNAL

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar"
	FillColor: 117
	Group: ttbar
	HistoFile: ttbar
	LineColor: 117
	Title: "t#bar{t}"
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Z+jets
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 125
	Title: W+jets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu"
	Category: Theory
	Max: 50
	Min: 0
	Nominal: 1
	Samples: MU1500_gU1_5_23L0_2*
	Title: "#mu(signal)"

NormFactor: "top_Norm_tch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Non-Res}"

NormFactor: "Wjets_Norm_tch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: W*
	Title: "#lambda_{W}^{Non-Res}"

NormFactor: "top_Norm_sch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Res}"

NormFactor: "Wjets_Norm_sch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: W*
	Title: "#lambda_{W}^{Res}"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

