% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_sys_1l_allVR_SPLUSB_MU3000_gU2_5_23L1_0_noWeights_SigSys"
	BlindSRs: False
	%BlindingThreshold: 0.05
	%BlindingType: SOVERB
	CleanTables: True
	CorrelationThreshold: 0.2
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: /afs/cern.ch/work/z/zang/LQanalysis/taux_fastframes/run/output_plots/taunub_sys_1l_allVR_with_beamspot_v04
	ImageFormat: pdf
	Label: Run-2
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	MergeUnderOverFlow: True
	POI: mu
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS,OVERSIG
	PrePostFitCanvasSize: 800,600
	RankingMaxNP: 20
	RankingPlot: All
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SmoothingOption: MAXVARIATION
	SummaryPlotYmax: 1e5
	SystCategoryTables: True
	SystControlPlots: True
	SystPruningNorm: 0.01
	SystPruningShape: 0.01
	UseGammaPulls: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRSR
	FitType: SPLUSB
	LHscanSteps: 20
	NumCPU: 8
	POIAsimov: 1
	UseMinos: mu
	doLHscan: mu

Limit: "limit"
    POI: mu
    LimitType: ASYMPTOTIC
    LimitBlind: False
    %SignalInjection: False
    %SignalInjectionValue: 1


Significance: "sig"
    SignificanceBlind: False
	POI: mu
	POIAsimov: 1

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_Res
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: SR_1tau0l1b_Res
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_NonRes
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: SR_1tau0l1b_NonRes
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_sch
	Label: "0#tau1l0b, Resonance WCR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: WCR_0tau1l0b_Res
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_tch
	Label: "0#tau1l0b, Non-Resonance WCR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: WCR_0tau1l0b_NonRes
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_sch
	Label: "1#tau1l1b, Resonance topCR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: topCR_1tau1l_Res
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_tch
	Label: "1#tau1l1b, Non-Resonance topCR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: topCR_1tau1l_NonRes
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_sch
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: VR_0tau1l1b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_tch
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: VR_0tau1l1b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_sch
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: WVR_1tau0l0b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_tch
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: WVR_1tau0l0b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_sch
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: topVR_1tau0l2b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_tch
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	Rebinning: 0,2000
	ShortLabel: topVR_1tau0l2b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "MU3000_gU2_5_23L1_0_noWeights_bsm_Res"
	FillColor: 2
	Group: MU3000_gU2_5_23L1_0
	HistoFile: MU3000_gU2_5_23L1_0_noWeights_bsm_Res
	LineColor: 2
	Regions: SR_*_Res*
	Title: "MU3000_gU2_5_23L1_0, BSM, resonance"
	Type: SIGNAL

Sample: "MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes"
	FillColor: 2
	Group: MU3000_gU2_5_23L1_0
	HistoFile: MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	LineColor: 2
	Regions: SR_*NonRes*
	Title: "MU3000_gU2_5_23L1_0, BSM, non-resonance"
	Type: SIGNAL

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar"
	FillColor: 117
	Group: ttbar
	HistoFile: ttbar
	LineColor: 117
	Title: "t#bar{t}"
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Z+jets
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 125
	Title: W+jets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu"
	Category: Theory
	Max: 15
	Min: -15
	Nominal: 1
	Samples: MU3000_gU2_5_23L1_0*
	Title: "#mu(signal)"

NormFactor: "top_Norm_NonRes"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *NonRes*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Non-Res}"

NormFactor: "Wjets_Norm_NonRes"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *NonRes*
	Samples: W*
	Title: "#lambda_{W}^{Non-Res}"

NormFactor: "top_Norm_Res"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *Res*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Res}"

NormFactor: "Wjets_Norm_Res"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *Res*
	Samples: W*
	Title: "#lambda_{W}^{Res}"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260801
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 1"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260802
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 2"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260803
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 3"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260804
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 4"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260805
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 5"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260806
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 6"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260807
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 7"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260808
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 8"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260809
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 9"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260810
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 10"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260811
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 11"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260812
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 12"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260813
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 13"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260814
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 14"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260815
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 15"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260816
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 16"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260817
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 17"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260818
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 18"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260819
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 19"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260820
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 20"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260821
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 21"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260822
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 22"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260823
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 23"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260824
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 24"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260825
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 25"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260826
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 26"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260827
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 27"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260828
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 28"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260829
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 29"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260830
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 30"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260831
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 31"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260832
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 32"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260833
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 33"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260834
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 34"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260835
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 35"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260836
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 36"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260837
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 37"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260838
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 38"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260839
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 39"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260840
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 40"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260841
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 41"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260842
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 42"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260843
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 43"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260844
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 44"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260845
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 45"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260846
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 46"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260847
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 47"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260848
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 48"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260849
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 49"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260850
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 50"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260851
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 51"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260852
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 52"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260853
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 53"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260854
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 54"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260855
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 55"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260856
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 56"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260857
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 57"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260858
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 58"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260859
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 59"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260860
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 60"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260861
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 61"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260862
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 62"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260863
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 63"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260864
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 64"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260865
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 65"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260866
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 66"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260867
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 67"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260868
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 68"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260869
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 69"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260870
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 70"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260871
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 71"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260872
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 72"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260873
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 73"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260874
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 74"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260875
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 75"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260876
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 76"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260877
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 77"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260878
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 78"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260879
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 79"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260880
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 80"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260881
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 81"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260882
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 82"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260883
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 83"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260884
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 84"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260885
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 85"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260886
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 86"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260887
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 87"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260888
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 88"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260889
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 89"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260890
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 90"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260891
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 91"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260892
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 92"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260893
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 93"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260894
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 94"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260895
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 95"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260896
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 96"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260897
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 97"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260898
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 98"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260899
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 99"

Systematic: "Signal_theory_PDF"
	Category: "Signal theory"
	CombineName: Signal_PDF
	CombineType: STANDARDDEVIATION
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260900
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	Symmetrisation: ONESIDED
	Title: "Signal Theory PDF 100"

Systematic: "Signal_MUR05_MUF05"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR05_MUF05_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR05_MUF05"
	Type: HISTO

Systematic: "Signal_MUR05_MUF10"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR05_MUF10_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR05_MUF10"
	Type: HISTO

Systematic: "Signal_MUR05_MUF20"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR05_MUF20_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR05_MUF20"
	Type: HISTO

Systematic: "Signal_MUR10_MUF05"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR10_MUF05_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR10_MUF05"
	Type: HISTO

Systematic: "Signal_MUR10_MUF10"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR10_MUF10_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR10_MUF10"
	Type: HISTO

Systematic: "Signal_MUR10_MUF20"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR10_MUF20_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR10_MUF20"
	Type: HISTO

Systematic: "Signal_MUR20_MUF05"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR20_MUF05_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR20_MUF05"
	Type: HISTO

Systematic: "Signal_MUR20_MUF10"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR20_MUF10_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR20_MUF10"
	Type: HISTO

Systematic: "Signal_MUR20_MUF20"
	Category: "Top theory"
	CombineName: ttbar_theory_scale
	CombineType: ENVELOPE
	HistoFolderNameUp: GEN_MUR20_MUF20_PDF260800
	Regions: SR*
	Samples: MU3000_gU2_5_23L1_0_noWeights_bsm_Res,MU3000_gU2_5_23L1_0_noWeights_bsm_NonRes
	SubCategory: ttbar
	Symmetrisation: ONESIDED
	Title: "Signal MUR20_MUF20"
	Type: HISTO

