% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_nom_1l_allVR_SPLUSB_MU1500_gU1_5_23L0_2_alldecay_corrected_VR0tau"
	BlindSRs: True
	BlindingThreshold: 0.05
	BlindingType: SOVERB
	CleanTables: True
	CorrelationThreshold: 0.2
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: /afs/cern.ch/work/z/zang/LQanalysis/taux_fastframes/run/output_plots/taunub_nom_1l_allVR_with_beamspot_v04_VR0tau
	ImageFormat: pdf
	Label: Run-2
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	MergeUnderOverFlow: True
	POI: mu
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS,OVERSIG
	PrePostFitCanvasSize: 800,600
	RankingMaxNP: 20
	RankingPlot: All
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SmoothingOption: MAXVARIATION
	SummaryPlotYmax: 1e5
	SummaryPlotYmin: 0.1
	SystCategoryTables: True
	SystControlPlots: False
	SystPruningNorm: 0.01
	SystPruningShape: 0.01
	UseGammaPulls: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRONLY
	FitType: BONLY
	LHscanSteps: 20
	NumCPU: 8
	POIAsimov: 0
	UseMinos: mu
	doLHscan: mu


Limit: "limit"
    POI: mu
    LimitType: ASYMPTOTIC
    LimitBlind: False
    %SignalInjection: False
    %SignalInjectionValue: 1


Significance: "sig"
    SignificanceBlind: False
	POI: mu
	POIAsimov: 1

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_Res_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_Res
	Label: SR_1tau0l1b_Res
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: SR_1tau0l1b_Res
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_NonRes
	Label: SR_1tau0l1b_NonRes
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: SR_1tau0l1b_NonRes
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_Res
	Label: "0#tau1l0b, Resonance WCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WCR_0tau1l0b_Res
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_NonRes
	Label: "0#tau1l0b, Non-Resonance WCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WCR_0tau1l0b_NonRes
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_Res
	Label: "1#tau1l1b, Resonance topCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topCR_1tau1l_Res
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_NonRes
	Label: "1#tau1l1b, Non-Resonance topCR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topCR_1tau1l_NonRes
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_Res
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_NonRes
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_Res
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WVR_1tau0l0b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_NonRes
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: WVR_1tau0l0b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_Res
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topVR_1tau0l2b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_NonRes
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: topVR_1tau0l2b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_NonRes_met_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_lep_pt_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_VR_0tau1l1b_NonRes_lep_pt_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes_lep_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_VR_0tau1l1b_NonRes_bjet_pt_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes_bjet_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_VR_0tau1l1b_NonRes_n_bjets_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_VR_0tau1l1b_NonRes_mT_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: mT
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_VR_0tau1l1b_NonRes_dphi_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_NonRes_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_Res_met_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_lep_pt_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_VR_0tau1l1b_Res_lep_pt_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res_lep_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_VR_0tau1l1b_Res_bjet_pt_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res_bjet_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_VR_0tau1l1b_Res_n_bjets_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_VR_0tau1l1b_Res_mT_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: mT
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_InvM_N_minus_1_Mlb"
	DataType: DATA
	HistoName: NOSYS/Mlb_VR_0tau1l1b_Res_InvM_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1l1b_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: Mlb
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1e1b_Res_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1e1b_Res
	Label: "0#tau1e1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1e1b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1e1b_NonRes_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1e1b_NonRes
	Label: "0#tau1e1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1e1b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1mu1b_Res_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1mu1b_Res
	Label: "0#tau1#mu1b, Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1mu1b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1mu1b_NonRes_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1mu1b_NonRes
	Label: "0#tau1#mu1b, Non-Resonance 0tauVR"
	LogScale: True
	Rebinning: 0,5000
	ShortLabel: VR_0tau1mu1b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "MU1500_gU1_5_23L0_2_alldecay_corrected_Res"
	FillColor: 2
	Group: MU1500_gU1_5_23L0_2
	HistoFile: MU1500_gU1_5_23L0_2_alldecay_corrected_Res
	LineColor: 2
	Regions: SR_1tau0l1b_Res_met,WCR_0tau1l0b_Res_met,topCR_1tau1l_Res_met,VR_0tau1l1b_Res_met_VR,WVR_1tau0l0b_Res_met,topVR_1tau0l2b_Res_met
	Title: "MU1500_gU1_5_23L0_2, BSM, resonance"
	Type: SIGNAL

Sample: "MU1500_gU1_5_23L0_2_alldecay_corrected_NonRes"
	FillColor: 2
	Group: MU1500_gU1_5_23L0_2
	HistoFile: MU1500_gU1_5_23L0_2_alldecay_corrected_NonRes
	LineColor: 2
	Regions: SR_1tau0l1b_NonRes_met,WCR_0tau1l0b_NonRes_met,topCR_1tau1l_NonRes_met,VR_0tau1l1b_NonRes_met_VR,WVR_1tau0l0b_NonRes_met,topVR_1tau0l2b_NonRes_met
	Title: "MU1500_gU1_5_23L0_2, BSM, non-resonance"
	Type: SIGNAL

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar"
	FillColor: 117
	Group: ttbar
	HistoFile: ttbar
	LineColor: 117
	Title: "t#bar{t}"
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Z+jets
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 125
	Title: W+jets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu"
	Category: Theory
	Max: 15
	Min: -15
	Nominal: 1
	Samples: MU1500_gU1_5_23L0_2*
	Title: "#mu(signal)"

NormFactor: "top_Norm_NonRes"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *NonRes*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Non-Res}"

NormFactor: "Wjets_Norm_NonRes"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *NonRes*
	Samples: W*
	Title: "#lambda_{W}^{Non-Res}"

NormFactor: "top_Norm_Res"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *Res*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Res}"

NormFactor: "Wjets_Norm_Res"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *Res*
	Samples: W*
	Title: "#lambda_{W}^{Res}"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

