% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_nom_1l_allVR_BONLY_MU1500_gU1_5_23L0_6_noWeights_unblind"
	BlindSRs: False
	%BlindingThreshold: 0.05
	%BlindingType: SOVERB
	CleanTables: True
	CorrelationThreshold: 0.2
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: /afs/cern.ch/work/z/zang/LQanalysis/taux_fastframes/run/output_plots/taunub_sys_1l_allVR_with_beamspot_v04
	ImageFormat: pdf, eps
	Label: "Region Summary"
	%Label: Post-fit
	LegendX1: 0.46
	LegendX1Summary: 0.4
	LegendX2Summary: 1.2
	LegendNColumnsSummary: 2
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	MergeUnderOverFlow: True
	POI: mu
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS,OVERSIG
	PrePostFitCanvasSize: 800,600
	RankingMaxNP: 20
	RankingPlot: All
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SmoothingOption: MAXVARIATION
	SummaryPlotYmax: 1e5
	SummaryPlotYmin: 0.1
	SystCategoryTables: True
	SystControlPlots: False
	SystPruningNorm: 0.01
	SystPruningShape: 0.01
	UseGammaPulls: True
	SummaryCanvasSize: 800, 600

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRONLY
	FitType: BONLY
	LHscanSteps: 20
	NumCPU: 8
	POIAsimov: 1
	UseMinos: mu
	doLHscan: mu

Limit: "limit"
    POI: mu
    LimitType: ASYMPTOTIC
    LimitBlind: False
    %SignalInjection: False
    %SignalInjectionValue: 1


Significance: "sig"
    SignificanceBlind: False
	POI: mu
	POIAsimov: 1

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: "SR (Res.)"
	ShortLabel: "SR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: "SR (Non-Res.)"
	ShortLabel: "SR (Non-Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_sch
	Label: "WCR (Res.)"
	ShortLabel: "WCR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_tch
	Label: "WCR (Res.)"
	ShortLabel: "WCR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_sch
	Label: "TopCR (Res.)"
	ShortLabel: "TopCR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_tch
	Label: "TopCR (Res.)"
	ShortLabel: "TopCR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_sch
	Label: "BVR (Res.)"
	ShortLabel: "BVR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_tch
	Label: "BVR (Non-Res.)"
	ShortLabel: "BVR (Non-Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_sch
	Label: "WVR (Res.)"
	ShortLabel: "WVR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_tch
	Label: "WVR (Non-Res.)"
	ShortLabel: "WVR (Non-Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_sch
	Label: "TopVR (Res.)"
	ShortLabel: "TopVR (Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_tch
	Label: "TopVR (Non-Res.)"
	ShortLabel: "TopVR (Non-Res.)"
	LogScale: True
	Rebinning: 0,2000
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "MU1500_gU1_5_23L0_6_noWeights_bsm_Res"
	FillColor: 2
	HistoFile: MU1500_gU1_5_23L0_6_noWeights_bsm_Res
	LineColor: 2
	Regions: SR_*_Res*
	Title: "U1 (1.5 TeV, 1.5, 0.6)"
	Type: SIGNAL

Sample: "MU1500_gU1_5_23L0_6_noWeights_bsm_NonRes"
	FillColor: 2
	HistoFile: MU1500_gU1_5_23L0_6_noWeights_bsm_NonRes
	LineColor: 2
	Regions: SR_*NonRes*
	Title: "U1 (1.5 TeV, 1.5, 0.6)"
	Type: SIGNAL

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA


% ---- re-arranged order stacks (to be decided) ----- %

% ------ orignal stack order --------%
Sample: "ttbar"
	FillColor: 117
	HistoFile: ttbar
	LineColor: 117
	Title: "t#bar{t}"
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 119
	HistoFile: SingleTop
	LineColor: 119
	Title: "single #it{t}"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Z+jets
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 125
	Title: W+jets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	HistoFile: Diboson
	LineColor: 118
	Title: VV
	Type: BACKGROUND




% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu"
	Category: Theory
	Max: 15
	Min: -15
	Nominal: 0
	Samples: MU1500_gU1_5_23L0_6*
	Title: "#mu(signal)"

NormFactor: "top_Norm_NonRes"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *NonRes*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Non-Res}"

NormFactor: "Wjets_Norm_NonRes"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *NonRes*
	Samples: W*
	Title: "#lambda_{W}^{Non-Res}"

NormFactor: "top_Norm_Res"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *_Res*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Res}"

NormFactor: "Wjets_Norm_Res"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *_Res*
	Samples: W*
	Title: "#lambda_{W}^{Res}"

% --------------- %
% - SYSTEMATICS - %
% --------------- %
