% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_CRs_N_minus_1"
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: ./output_plots/taunub_WCR_jet0_pt_N_minus_1
	ImageFormat: png
	LegendX1: 0.46
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MergeUnderOverFlow: True
	POI: SigXsecOverSM
	PlotLabel: Internal
	PlotOptions: NORMSIG,YIELDS,XERR,OVERSIG
	PrePostFitCanvasSize: 800,600
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SummaryPlotYmax: 1e3

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: True
	FitRegion: CRONLY
	FitType: BONLY
	POIAsimov: 1
	UseMinos: SigXsecOverSM
	doLHscan: all

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_sch_tau_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/tau_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: tau_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_lep_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/lep_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: lep_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_bjet_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/bjet_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: bjet_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_jet_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/jet_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: jet_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_mT_tau_met"
	DataType: ASIMOV
	HistoName: NOSYS/mT_tau_met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: mT_tau_met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_mT_lep0_met"
	DataType: ASIMOV
	HistoName: NOSYS/mT_lep0_met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: mT_lep0_met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_Mbtau"
	DataType: ASIMOV
	HistoName: NOSYS/Mbtau_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: Mbtau
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_Mlep0B"
	DataType: ASIMOV
	HistoName: NOSYS/Mlep0B_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: Mlep0B
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_MJetTau"
	DataType: ASIMOV
	HistoName: NOSYS/MJetTau_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: MJetTau
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_Mlep0Jet"
	DataType: ASIMOV
	HistoName: NOSYS/Mlep0Jet_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: Mlep0Jet
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_nbJets85"
	DataType: ASIMOV
	HistoName: NOSYS/nbJets85_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: nbJets85
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_nJets"
	DataType: ASIMOV
	HistoName: NOSYS/nJets_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: nJets
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_tau_met_deltaphi"
	DataType: ASIMOV
	HistoName: NOSYS/tau_met_deltaphi_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_lep0_met_deltaphi"
	DataType: ASIMOV
	HistoName: NOSYS/lep0_met_deltaphi_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: lep0_met_deltaphi
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_sch_flag_minDPhi"
	DataType: ASIMOV
	HistoName: NOSYS/flag_minDPhi_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: flag_minDPhi
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_tau_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/tau_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: tau_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_lep_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/lep_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: lep_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_bjet_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/bjet_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: bjet_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_jet_pt_0"
	DataType: ASIMOV
	HistoName: NOSYS/jet_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: jet_pt_0
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_mT_tau_met"
	DataType: ASIMOV
	HistoName: NOSYS/mT_tau_met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: mT_tau_met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_mT_lep0_met"
	DataType: ASIMOV
	HistoName: NOSYS/mT_lep0_met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: mT_lep0_met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_Mbtau"
	DataType: ASIMOV
	HistoName: NOSYS/Mbtau_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: Mbtau
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_Mlep0B"
	DataType: ASIMOV
	HistoName: NOSYS/Mlep0B_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: Mlep0B
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_MJetTau"
	DataType: ASIMOV
	HistoName: NOSYS/MJetTau_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: MJetTau
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_Mlep0Jet"
	DataType: ASIMOV
	HistoName: NOSYS/Mlep0Jet_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: Mlep0Jet
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_nbJets85"
	DataType: ASIMOV
	HistoName: NOSYS/nbJets85_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: nbJets85
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_nJets"
	DataType: ASIMOV
	HistoName: NOSYS/nJets_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: nJets
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_tau_met_deltaphi"
	DataType: ASIMOV
	HistoName: NOSYS/tau_met_deltaphi_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_lep0_met_deltaphi"
	DataType: ASIMOV
	HistoName: NOSYS/lep0_met_deltaphi_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: lep0_met_deltaphi
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_flag_minDPhi"
	DataType: ASIMOV
	HistoName: NOSYS/flag_minDPhi_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: flag_minDPhi
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_mT_lep0_met"
	DataType: DATA
	HistoName: NOSYS/mT_lep0_met_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: mT_lep0_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_Mlep0Jet"
	DataType: DATA
	HistoName: NOSYS/Mlep0Jet_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: Mlep0Jet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_nbJets85"
	DataType: DATA
	HistoName: NOSYS/nbJets85_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: nbJets85
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_tch_lep0_met_deltaphi"
	DataType: DATA
	HistoName: NOSYS/lep0_met_deltaphi_WCR_0tau1e0b_tch
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_tch
	Type: CONTROL
	VariableTitle: lep0_met_deltaphi
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_mT_lep0_met"
	DataType: DATA
	HistoName: NOSYS/mT_lep0_met_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: mT_lep0_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_Mlep0Jet"
	DataType: DATA
	HistoName: NOSYS/Mlep0Jet_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: Mlep0Jet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_nbJets85"
	DataType: DATA
	HistoName: NOSYS/nbJets85_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: nbJets85
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_tch_lep0_met_deltaphi"
	DataType: DATA
	HistoName: NOSYS/lep0_met_deltaphi_WCR_0tau1mu0b_tch
	Label: "0#tau1#mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_tch
	Type: CONTROL
	VariableTitle: lep0_met_deltaphi
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_mT_lep0_met"
	DataType: DATA
	HistoName: NOSYS/mT_lep0_met_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: mT_lep0_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_Mlep0Jet"
	DataType: DATA
	HistoName: NOSYS/Mlep0Jet_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: Mlep0Jet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_nbJets85"
	DataType: DATA
	HistoName: NOSYS/nbJets85_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: nbJets85
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_sch_lep0_met_deltaphi"
	DataType: DATA
	HistoName: NOSYS/lep0_met_deltaphi_WCR_0tau1e0b_sch
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_sch
	Type: CONTROL
	VariableTitle: lep0_met_deltaphi
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_mT_lep0_met"
	DataType: DATA
	HistoName: NOSYS/mT_lep0_met_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: mT_lep0_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_Mlep0Jet"
	DataType: DATA
	HistoName: NOSYS/Mlep0Jet_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: Mlep0Jet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_nbJets85"
	DataType: DATA
	HistoName: NOSYS/nbJets85_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: nbJets85
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_sch_lep0_met_deltaphi"
	DataType: DATA
	HistoName: NOSYS/lep0_met_deltaphi_WCR_0tau1mu0b_sch
	Label: "0#tau1#mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_sch
	Type: CONTROL
	VariableTitle: lep0_met_deltaphi
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1e_sch_tau_pt_0"
	HistoName: NOSYS/tau_pt_0_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: tau_pt_0

Region: "topCR_1tau1e_sch_lep_pt_0"
	HistoName: NOSYS/lep_pt_0_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: lep_pt_0

Region: "topCR_1tau1e_sch_met"
	HistoName: NOSYS/met_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: met

Region: "topCR_1tau1e_sch_bjet_pt_0"
	HistoName: NOSYS/bjet_pt_0_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: bjet_pt_0

Region: "topCR_1tau1e_sch_jet_pt_0"
	HistoName: NOSYS/jet_pt_0_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: jet_pt_0

Region: "topCR_1tau1e_sch_mT_tau_met"
	HistoName: NOSYS/mT_tau_met_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: mT_tau_met

Region: "topCR_1tau1e_sch_Mbtau"
	HistoName: NOSYS/Mbtau_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: Mbtau

Region: "topCR_1tau1e_sch_nbJets85"
	HistoName: NOSYS/nbJets85_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: nbJets85

Region: "topCR_1tau1e_sch_nJets"
	HistoName: NOSYS/nJets_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: nJets

Region: "topCR_1tau1e_sch_tau_met_deltaphi"
	HistoName: NOSYS/tau_met_deltaphi_topCR_1tau1e_sch
	Label: topCR_1tau1e_sch
	ShortLabel: topCR_1tau1e_sch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi

Region: "topCR_1tau1mu_sch_tau_pt_0"
	HistoName: NOSYS/tau_pt_0_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: tau_pt_0

Region: "topCR_1tau1mu_sch_lep_pt_0"
	HistoName: NOSYS/lep_pt_0_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: lep_pt_0

Region: "topCR_1tau1mu_sch_met"
	HistoName: NOSYS/met_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: met

Region: "topCR_1tau1mu_sch_bjet_pt_0"
	HistoName: NOSYS/bjet_pt_0_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: bjet_pt_0

Region: "topCR_1tau1mu_sch_jet_pt_0"
	HistoName: NOSYS/jet_pt_0_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: jet_pt_0

Region: "topCR_1tau1mu_sch_mT_tau_met"
	HistoName: NOSYS/mT_tau_met_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: mT_tau_met

Region: "topCR_1tau1mu_sch_Mbtau"
	HistoName: NOSYS/Mbtau_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: Mbtau

Region: "topCR_1tau1mu_sch_nbJets85"
	HistoName: NOSYS/nbJets85_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: nbJets85

Region: "topCR_1tau1mu_sch_nJets"
	HistoName: NOSYS/nJets_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: nJets

Region: "topCR_1tau1mu_sch_tau_met_deltaphi"
	HistoName: NOSYS/tau_met_deltaphi_topCR_1tau1mu_sch
	Label: topCR_1tau1mu_sch
	ShortLabel: topCR_1tau1mu_sch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi

Region: "topCR_1tau1e_tch_tau_pt_0"
	HistoName: NOSYS/tau_pt_0_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: tau_pt_0

Region: "topCR_1tau1e_tch_lep_pt_0"
	HistoName: NOSYS/lep_pt_0_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: lep_pt_0

Region: "topCR_1tau1e_tch_met"
	HistoName: NOSYS/met_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: met

Region: "topCR_1tau1e_tch_bjet_pt_0"
	HistoName: NOSYS/bjet_pt_0_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: bjet_pt_0

Region: "topCR_1tau1e_tch_jet_pt_0"
	HistoName: NOSYS/jet_pt_0_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: jet_pt_0

Region: "topCR_1tau1e_tch_mT_tau_met"
	HistoName: NOSYS/mT_tau_met_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: mT_tau_met

Region: "topCR_1tau1e_tch_Mbtau"
	HistoName: NOSYS/Mbtau_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: Mbtau

Region: "topCR_1tau1e_tch_nbJets85"
	HistoName: NOSYS/nbJets85_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: nbJets85

Region: "topCR_1tau1e_tch_nJets"
	HistoName: NOSYS/nJets_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: nJets

Region: "topCR_1tau1e_tch_tau_met_deltaphi"
	HistoName: NOSYS/tau_met_deltaphi_topCR_1tau1e_tch
	Label: topCR_1tau1e_tch
	ShortLabel: topCR_1tau1e_tch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi

Region: "topCR_1tau1mu_tch_tau_pt_0"
	HistoName: NOSYS/tau_pt_0_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: tau_pt_0

Region: "topCR_1tau1mu_tch_lep_pt_0"
	HistoName: NOSYS/lep_pt_0_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: lep_pt_0

Region: "topCR_1tau1mu_tch_met"
	HistoName: NOSYS/met_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: met

Region: "topCR_1tau1mu_tch_bjet_pt_0"
	HistoName: NOSYS/bjet_pt_0_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: bjet_pt_0

Region: "topCR_1tau1mu_tch_jet_pt_0"
	HistoName: NOSYS/jet_pt_0_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: jet_pt_0

Region: "topCR_1tau1mu_tch_mT_tau_met"
	HistoName: NOSYS/mT_tau_met_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: mT_tau_met

Region: "topCR_1tau1mu_tch_Mbtau"
	HistoName: NOSYS/Mbtau_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: Mbtau

Region: "topCR_1tau1mu_tch_nbJets85"
	HistoName: NOSYS/nbJets85_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: nbJets85

Region: "topCR_1tau1mu_tch_nJets"
	HistoName: NOSYS/nJets_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: nJets

Region: "topCR_1tau1mu_tch_tau_met_deltaphi"
	HistoName: NOSYS/tau_met_deltaphi_topCR_1tau1mu_tch
	Label: topCR_1tau1mu_tch
	ShortLabel: topCR_1tau1mu_tch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "LQ_taunub_M1500_BSM"
	FillColor: 2
	Group: "M_{LQ}=1.5 TeV, g_{U}=1.5, #beta_{23}=0.2, BSM+Inf"
	HistoFile: LQ_taunub_M1500_BSM
	LineColor: 2
	Regions: SR_*sch*
	TexTitle: "$LQ$ (U1, 1.5 TeV), BF"
	Title: "M_{LQ}=1.5 TeV, g_{U}=1.5, #beta_{23}=0.2, BSM"
	Type: SIGNAL

Sample: "LQ_taunub_M1500_Inf"
	FillColor: 2
	Group: "M_{LQ}=1.5 TeV, g_{U}=1.5, #beta_{23}=0.2, BSM+Inf"
	HistoFile: LQ_taunub_M1500_Inf
	LineColor: 2
	Regions: SR_*sch*
	TexTitle: "$LQ$ (U1, 1.5 TeV), BVeto"
	Title: "M_{LQ}=1.5 TeV, g_{U}=1.5, #beta_{23}=0.2, Inf"
	Type: SIGNAL

Sample: "LQ_taunub_M2500_BSM"
	FillColor: 2
	Group: "M_{LQ}=2.5 TeV, g_{U}=2.5, #beta_{23}=1, BSM+Inf"
	HistoFile: LQ_taunub_M2500_BSM
	LineColor: 2
	Regions: SR_*tch*
	TexTitle: "$LQ$ (U1, 2.5 TeV), NET150"
	Title: "M_{LQ}=2.5 TeV, g_{U}=2.5, #beta_{23}=1, BSM"
	Type: SIGNAL

Sample: "LQ_taunub_M2500_Inf"
	FillColor: 2
	Group: "M_{LQ}=2.5 TeV, g_{U}=2.5, #beta_{23}=1, BSM+Inf"
	HistoFile: LQ_taunub_M2500_Inf
	LineColor: 2
	Regions: SR_*tch*
	Title: "M_{LQ}=2.5 TeV, g_{U}=2.5, #beta_{23}=1"
	Type: SIGNAL

Sample: "Data"
	FillColor: 7
	HistoFile: Data
	LineColor: 7
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar_nonallhad"
	FillColor: 117
	HistoFile: ttbar_nonallhad
	LineColor: 117
	Regions: SR_1tau0l1b_sch*
	Title: "t#bar{t}_nonallhad"
	Type: BACKGROUND

Sample: "ttbar_dilep"
	FillColor: 117
	HistoFile: ttbar_dilep
	LineColor: 117
	Title: "t#bar{t}_dilep"
	Type: BACKGROUND

Sample: "ttZ"
	FillColor: 120
	HistoFile: ttZ
	LineColor: 120
	Title: ttZ
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 119
	HistoFile: SingleTop
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Zll+j
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: "Z#nu#nu+j"
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: "Z#tau#tau+j"
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Zjet_EWK"
	FillColor: 106
	Group: Zjet_EWK
	HistoFile: Zjet_EWK
	LineColor: 106
	Title: Zjet_EWK
	Type: BACKGROUND

Sample: "Wlnu"
	FillColor: 125
	Group: W+jets
	HistoFile: Wlnu
	LineColor: 125
	Title: "Wl#nu+j"
	Type: BACKGROUND

Sample: "Wtaunu_METTAU"
	FillColor: 126
	Group: W+jets
	HistoFile: Wtaunu_METTAU
	LineColor: 126
	Title: "W#tau#nu+j"
	Type: BACKGROUND

Sample: "Wtaunu_HF"
	FillColor: 126
	Group: W+jets
	HistoFile: Wtaunu_HF
	LineColor: 126
	Title: "W#tau#nu+j"
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

Sample: "Diboson_semiLep"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson_semiLep
	LineColor: 118
	Title: Diboson_semilep
	Type: BACKGROUND

Sample: "Dijet"
	FillColor: 124
	HistoFile: Dijet
	LineColor: 124
	Title: Dijet
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "SigXsecOverSM"
	Max: 10
	Min: 0
	Nominal: 1
	Samples: ttbar_dilep
	Title: "#mu(signal)"

NormFactor: "top_Norm"
	Max: 3
	Min: 0
	Nominal: 1
	Samples: "ttbar_dilep","SingleTop","ttZ"
	Title: "#mu(top)"

NormFactor: "Wjets_Norm"
	Max: 3
	Min: 0
	Nominal: 1
	Samples: W*
	Title: "#mu(Wjets)"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

