% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_sys_1l_allVR_BONLY_MU1500_gU1_5_23L0_6_noWeights_N_minus_1_unblind_simplified_test"
	BlindSRs: False
	%BlindingThreshold: 0.05
	%BlindingType: SOVERB
	CleanTables: True
	CorrelationThreshold: 0.2
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: /afs/cern.ch/work/z/zang/LQanalysis/taux_fastframes/run/output_plots/taunub_sys_1l_allVR_with_beamspot_v04_N_minus_1
	ImageFormat: pdf
	Label: "Background-only fit"
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	MergeUnderOverFlow: True
	POI: mu
	PlotLabel: Internal
	PlotOptions: NOSIG,OVERSIG
	PrePostFitCanvasSize: 800,600
	RankingMaxNP: 20
	RankingPlot: All
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SmoothingOption: MAXVARIATION
	SummaryPlotYmax: 1e5
	SummaryPlotYmin: 0.1
	LegendX1: 0.4
	LegendNColumns: 3
	LegendNColumnsSummary: 3
	SystCategoryTables: True
	SystControlPlots: True
	SystPruningNorm: 0.01
	SystPruningShape: 0.01
	UseGammaPulls: True
	NoPrePostFitLabel: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRONLY
	FitType: BONLY
	LHscanSteps: 20
	NumCPU: 8
	POIAsimov: 0
	UseMinos: mu
	doLHscan: mu

Limit: "limit"
    POI: mu
    LimitType: ASYMPTOTIC
    LimitBlind: False
    %SignalInjection: False
    %SignalInjectionValue: 1


Significance: "sig"
    SignificanceBlind: False
	POI: mu
	POIAsimov: 1

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_Res
	Label: "SR-Res"
	LogScale: True
	ShortLabel: SR_1tau0l1b_Res
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_NonRes
	Label: "SR-NonRes"
	LogScale: True
	ShortLabel: SR_1tau0l1b_NonRes
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_Res
	Label: "0#tau1l0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1l0b_Res
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_NonRes
	Label: "0#tau1l0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1l0b_NonRes
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_Res
	Label: "1#tau1l1b, Resonance topCR"
	LogScale: True
	ShortLabel: topCR_1tau1l_Res
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_NonRes
	Label: "1#tau1l1b, Non-Resonance topCR"
	LogScale: True
	ShortLabel: topCR_1tau1l_NonRes
	SkipSmoothing: True
	Type: CONTROL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_Res
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_NonRes
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_Res
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_NonRes
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_NonRes
	SkipSmoothing: True
	Type: SIGNAL
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_Res
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_NonRes
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	ShortLabel: topVR_1tau0l2b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "SR_1tau0l1b_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_Res_met_N_minus_1
	Label: "SR-Res"
	LogScale: True
	ShortLabel: SR_1tau0l1b_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_NonRes_met_N_minus_1
	Label: "SR-NonRes"
	LogScale: True
	ShortLabel: SR_1tau0l1b_NonRes_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_Res_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_SR_1tau0l1b_Res_mT_N_minus_1
	Label: "SR-Res"
	LogScale: True
	ShortLabel: SR_1tau0l1b_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_SR_1tau0l1b_NonRes_mT_N_minus_1
	Label: "SR-NonRes"
	LogScale: True
	ShortLabel: SR_1tau0l1b_NonRes_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_Res_InvM_N_minus_1_InvM"
	DataType: DATA
	HistoName: NOSYS/InvM_SR_1tau0l1b_Res_InvM_N_minus_1
	Label: "SR-Res"
	LogScale: True
	ShortLabel: SR_1tau0l1b_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{b#tau} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_InvM_N_minus_1_InvM"
	DataType: DATA
	HistoName: NOSYS/InvM_SR_1tau0l1b_NonRes_InvM_N_minus_1
	Label: "SR-NonRes"
	LogScale: True
	ShortLabel: SR_1tau0l1b_NonRes_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{b#tau} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_Res_tau_pT_N_minus_1_tau_pT"
	DataType: DATA
	HistoName: NOSYS/tau_pT_SR_1tau0l1b_Res_tau_pT_N_minus_1
	Label: "SR-Res"
	LogScale: True
	ShortLabel: SR_1tau0l1b_Res_tau_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{p}_{T}^{#tau} [GeV]"
	Rebinning: 100, 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_tau_pT_N_minus_1_tau_pT"
	DataType: DATA
	HistoName: NOSYS/tau_pT_SR_1tau0l1b_NonRes_tau_pT_N_minus_1
	Label: "SR-NonRes"
	LogScale: True
	ShortLabel: SR_1tau0l1b_NonRes_tau_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{p}_{T}^{#tau} [GeV]"
	Rebinning: 100, 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_Res_jet_pT_N_minus_1_jet_pT"
	DataType: DATA
	HistoName: NOSYS/jet_pT_SR_1tau0l1b_Res_jet_pT_N_minus_1
	Label: "SR-Res"
	LogScale: True
	ShortLabel: SR_1tau0l1b_Res_jet_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pT
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_NonRes_jet_pT_N_minus_1_jet_pT"
	DataType: DATA
	HistoName: NOSYS/jet_pT_SR_1tau0l1b_NonRes_jet_pT_N_minus_1
	Label: "SR-NonRes"
	LogScale: True
	ShortLabel: SR_1tau0l1b_NonRes_jet_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pT
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_loose_Res_met_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_SR_1tau0l1b_loose_NonRes_met_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_SR_1tau0l1b_loose_Res_mT_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_SR_1tau0l1b_loose_NonRes_mT_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_InvM_N_minus_1_InvM"
	DataType: DATA
	HistoName: NOSYS/InvM_SR_1tau0l1b_loose_Res_InvM_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{b#tau} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_InvM_N_minus_1_InvM"
	DataType: DATA
	HistoName: NOSYS/InvM_SR_1tau0l1b_loose_NonRes_InvM_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{b#tau} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_tau_pT_N_minus_1_tau_pT"
	DataType: DATA
	HistoName: NOSYS/tau_pT_SR_1tau0l1b_loose_Res_tau_pT_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_tau_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{p}_{T}^{#tau} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_tau_pT_N_minus_1_tau_pT"
	DataType: DATA
	HistoName: NOSYS/tau_pT_SR_1tau0l1b_loose_NonRes_tau_pT_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_tau_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{p}_{T}^{#tau} [GeV]"
	Rebinning: 200, 400, 600, 800, 1000, 1200, 1400, 1600
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_jet_pT_N_minus_1_jet_pT"
	DataType: DATA
	HistoName: NOSYS/jet_pT_SR_1tau0l1b_loose_Res_jet_pT_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_jet_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pT
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_jet_pT_N_minus_1_jet_pT"
	DataType: DATA
	HistoName: NOSYS/jet_pT_SR_1tau0l1b_loose_NonRes_jet_pT_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_jet_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pT
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_nlightjets_N_minus_1_nLightJets"
	DataType: DATA
	HistoName: NOSYS/nLightJets_SR_1tau0l1b_loose_Res_nlightjets_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_nlightjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nLightJets
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_nlightjets_N_minus_1_nLightJets"
	DataType: DATA
	HistoName: NOSYS/nLightJets_SR_1tau0l1b_loose_NonRes_nlightjets_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_nlightjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nLightJets
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_Res_dphi_N_minus_1_dphi_taumet"
	DataType: DATA
	HistoName: NOSYS/dphi_taumet_SR_1tau0l1b_loose_Res_dphi_N_minus_1
	Label: "Loose Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_Res_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_taumet
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_loose_NonRes_dphi_N_minus_1_dphi_taumet"
	DataType: DATA
	HistoName: NOSYS/dphi_taumet_SR_1tau0l1b_loose_NonRes_dphi_N_minus_1
	Label: "Loose Non-Resonance SR"
	LogScale: True
	ShortLabel: SR_1tau0l1b_loose_NonRes_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_taumet
	Ymax: 1e2
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_NonRes_met_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_lep_pt_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_VR_0tau1l1b_NonRes_lep_pt_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes_lep_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_VR_0tau1l1b_NonRes_bjet_pt_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes_bjet_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_VR_0tau1l1b_NonRes_n_bjets_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_VR_0tau1l1b_NonRes_mT_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_NonRes_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_VR_0tau1l1b_NonRes_dphi_N_minus_1
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_NonRes_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_VR_0tau1l1b_Res_met_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_lep_pt_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_VR_0tau1l1b_Res_lep_pt_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res_lep_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_bjet_pt_N_minus_1_bjet_pt_0"
	DataType: DATA
	HistoName: NOSYS/bjet_pt_0_VR_0tau1l1b_Res_bjet_pt_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res_bjet_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: bjet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_VR_0tau1l1b_Res_n_bjets_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_VR_0tau1l1b_Res_mT_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_Res_InvM_N_minus_1_Mlb"
	DataType: DATA
	HistoName: NOSYS/Mlb_VR_0tau1l1b_Res_InvM_N_minus_1
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: Mlb
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_Res_met_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_tau_pt_N_minus_1_tau_pt_0"
	DataType: DATA
	HistoName: NOSYS/tau_pt_0_WVR_1tau0l0b_Res_tau_pt_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res_tau_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{p}_{T}^{#tau} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_jet_pt_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WVR_1tau0l0b_Res_jet_pt_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res_jet_pt_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_njets_N_minus_1_nJets"
	DataType: DATA
	HistoName: NOSYS/nJets_WVR_1tau0l0b_Res_njets_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res_njets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_mT_N_minus_1_mT_tau_met"
	DataType: DATA
	HistoName: NOSYS/mT_tau_met_WVR_1tau0l0b_Res_mT_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"_tau_met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_Res_InvM_N_minus_1_Mtaujet"
	DataType: DATA
	HistoName: NOSYS/Mtaujet_WVR_1tau0l0b_Res_InvM_N_minus_1
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	ShortLabel: WVR_1tau0l0b_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: Mtaujet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_Res_met_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_NonRes_met_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_WCR_0tau1mu0b_Res_mT_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_WCR_0tau1mu0b_NonRes_mT_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_lep_pT_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1mu0b_Res_lep_pT_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_lep_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_lep_pT_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1mu0b_NonRes_lep_pT_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_lep_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_jet_pT_0_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1mu0b_Res_jet_pT_0_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_jet_pT_0_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_jet_pT_0_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1mu0b_NonRes_jet_pT_0_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_jet_pT_0_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_InvM_N_minus_1_Mljet"
	DataType: DATA
	HistoName: NOSYS/Mljet_WCR_0tau1mu0b_Res_InvM_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: Mljet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_DeltaPhi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_WCR_0tau1mu0b_NonRes_DeltaPhi_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_DeltaPhi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_WCR_0tau1mu0b_Res_n_bjets_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_WCR_0tau1mu0b_NonRes_n_bjets_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_n_lightjets_N_minus_1_nLightJets"
	DataType: DATA
	HistoName: NOSYS/nLightJets_WCR_0tau1mu0b_Res_n_lightjets_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_n_lightjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nLightJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_n_lightjets_N_minus_1_nLightJets"
	DataType: DATA
	HistoName: NOSYS/nLightJets_WCR_0tau1mu0b_NonRes_n_lightjets_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_n_lightjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nLightJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_WCR_0tau1mu0b_Res_dphi_N_minus_1
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_WCR_0tau1mu0b_NonRes_dphi_N_minus_1
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_Res_met_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_met_N_minus_1_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_NonRes_met_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_met_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_WCR_0tau1e0b_Res_mT_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_mT_N_minus_1_mT"
	DataType: DATA
	HistoName: NOSYS/mT_WCR_0tau1e0b_NonRes_mT_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_mT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{m}_{T} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_lep_pT_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1e0b_Res_lep_pT_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_lep_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_lep_pT_N_minus_1_lep_pt_0"
	DataType: DATA
	HistoName: NOSYS/lep_pt_0_WCR_0tau1e0b_NonRes_lep_pT_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_lep_pT_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: lep_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_jet_pT_0_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1e0b_Res_jet_pT_0_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_jet_pT_0_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_jet_pT_0_N_minus_1_jet_pt_0"
	DataType: DATA
	HistoName: NOSYS/jet_pt_0_WCR_0tau1e0b_NonRes_jet_pT_0_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_jet_pT_0_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: jet_pt_0
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_InvM_N_minus_1_Mljet"
	DataType: DATA
	HistoName: NOSYS/Mljet_WCR_0tau1e0b_Res_InvM_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_InvM_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: Mljet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_DeltaPhi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_WCR_0tau1e0b_NonRes_DeltaPhi_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_DeltaPhi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_WCR_0tau1e0b_Res_n_bjets_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_n_bjets_N_minus_1_n_bjets"
	DataType: DATA
	HistoName: NOSYS/n_bjets_WCR_0tau1e0b_NonRes_n_bjets_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_n_bjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: n_bjets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_n_lightjets_N_minus_1_nLightJets"
	DataType: DATA
	HistoName: NOSYS/nLightJets_WCR_0tau1e0b_Res_n_lightjets_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_n_lightjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nLightJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_n_lightjets_N_minus_1_nLightJets"
	DataType: DATA
	HistoName: NOSYS/nLightJets_WCR_0tau1e0b_NonRes_n_lightjets_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_n_lightjets_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: nLightJets
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_WCR_0tau1e0b_Res_dphi_N_minus_1
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_dphi_N_minus_1_dphi_lmet"
	DataType: DATA
	HistoName: NOSYS/dphi_lmet_WCR_0tau1e0b_NonRes_dphi_N_minus_1
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes_dphi_N_minus_1
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: dphi_lmet
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_Res
	Label: "0#tau1mu0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1mu0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1mu0b_NonRes
	Label: "0#tau1mu0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1mu0b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_Res_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_Res
	Label: "0#tau1e0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_Res
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1e0b_NonRes_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1e0b_NonRes
	Label: "0#tau1e0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1e0b_NonRes
	SkipSmoothing: True
	Type: VALIDATION
	VariableTitle: "#it{E}_{T}^{miss} [GeV]"
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "MU1500_gU1_5_23L0_6_noWeights_BSM"
	FillColor: 119
	HistoFile: MU1500_gU1_5_23L0_6_noWeights_BSM
	LineColor: 119
	Regions: SR_*
	%Title: "#it{U}_{1} (1.5 TeV,#it{g_{U}}=1.5,#it{#beta}_{L}^{23}=0.2)"
	Title: "#it{U}_{1} (1.5 TeV)"
	Type: SIGNAL
	UseSystematics: False

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 1
	Title: W+jets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 1
	Title: Diboson
	Type: BACKGROUND

Sample: "ttbar"
	FillColor: 117
	HistoFile: ttbar
	LineColor: 1
	Title: "#it{t#bar{t}}"
	Type: BACKGROUND

Sample: "SingleTop"
	FillColor: 124
	HistoFile: SingleTop
	LineColor: 1
	Title: "Single #it{t}"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 120
	Group: Z+jets
	HistoFile: Zll
	LineColor: 1
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 120
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 1
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 120
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 1
	Title: "Z#tau#tau+j"
	Type: BACKGROUND


% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu"
	Category: Theory
	Max: 15
	Min: -15
	Nominal: 1
	Samples: MU1500_gU1_5_23L0_6*
	Title: "#mu(signal)"

NormFactor: "top_Norm_NonRes"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *_NonRes*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Non-Res}"

NormFactor: "Wjets_Norm_NonRes"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *_NonRes*
	Samples: W*
	Title: "#lambda_{W}^{Non-Res}"

NormFactor: "top_Norm_Res"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *_Res*
	Samples: tt*, SingleTop*
	Title: "#lambda_{t}^{Res}"

NormFactor: "Wjets_Norm_Res"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *_Res*
	Samples: W*
	Title: "#lambda_{W}^{Res}"

% --------------- %
% - SYSTEMATICS - %
% --------------- %



Systematic: "JET_JERUnc_Noise_PreRec"
	Category: Jet
	HistoFolderNameDown: JET_JERUnc_Noise_PreRec__1down
	HistoFolderNameUp: JET_JERUnc_Noise_PreRec__1up
	HistoFolderSubtractNameDown: JET_JERUnc_Noise_PreRec_PseudoData__1down
	HistoFolderSubtractNameUp: JET_JERUnc_Noise_PreRec_PseudoData__1up
	SubCategory: PreRec
	Title: JET_JERUnc_Noise_PreRec
	Type: HISTO

Systematic: "TAUS_TRUEHADTAU_EFF_RNNID_1PRONGSTATSYSTGE120"
	Category: Tau
	HistoFolderNameDown: TAUS_TRUEHADTAU_EFF_RNNID_1PRONGSTATSYSTGE120__1down
	HistoFolderNameUp: TAUS_TRUEHADTAU_EFF_RNNID_1PRONGSTATSYSTGE120__1up
	Regions: *1tau*
	Symmetrisation: TWOSIDED
	Title: "TAUS TRUEHADTAU EFF RNNID 1PRONGSTATSYSTGE120"
	Type: HISTO

Systematic: "TAUS_TRUEHADTAU_EFF_RNNID_3PRONGSTATSYSTGE120"
	Category: Tau
	HistoFolderNameDown: TAUS_TRUEHADTAU_EFF_RNNID_3PRONGSTATSYSTGE120__1down
	HistoFolderNameUp: TAUS_TRUEHADTAU_EFF_RNNID_3PRONGSTATSYSTGE120__1up
	Regions: *1tau*
	Symmetrisation: TWOSIDED
	Title: "TAUS TRUEHADTAU EFF RNNID 3PRONGSTATSYSTGE120"
	Type: HISTO

Systematic: "TAUS_TRUEHADTAU_SME_TES_DETECTOR"
	Category: Tau
	HistoFolderNameDown: TAUS_TRUEHADTAU_SME_TES_DETECTOR__1down
	HistoFolderNameUp: TAUS_TRUEHADTAU_SME_TES_DETECTOR__1up
	Regions: *1tau*
	Symmetrisation: TWOSIDED
	Title: "TAUS TRUEHADTAU SME TES DETECTOR"
	Type: HISTO

Systematic: "TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST"
	Category: Tau
	HistoFolderNameDown: TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST__1down
	HistoFolderNameUp: TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST__1up
	Regions: *1tau*
	Symmetrisation: TWOSIDED
	Title: "TAUS TRUEHADTAU SME TES PHYSICSLIST"
	Type: HISTO

Systematic: "FT_EFF_Eigen_B_0"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_B_0__1down
	HistoFolderNameUp: FT_EFF_Eigen_B_0__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_B_0
	Type: HISTO

Systematic: "FT_EFF_Eigen_B_1"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_B_1__1down
	HistoFolderNameUp: FT_EFF_Eigen_B_1__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_B_1
	Type: HISTO

Systematic: "FT_EFF_Eigen_B_2"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_B_2__1down
	HistoFolderNameUp: FT_EFF_Eigen_B_2__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_B_2
	Type: HISTO

Systematic: "FT_EFF_Eigen_C_0"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_C_0__1down
	HistoFolderNameUp: FT_EFF_Eigen_C_0__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_C_0
	Type: HISTO

Systematic: "FT_EFF_Eigen_C_1"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_C_1__1down
	HistoFolderNameUp: FT_EFF_Eigen_C_1__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_C_1
	Type: HISTO

Systematic: "FT_EFF_Eigen_C_2"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_C_2__1down
	HistoFolderNameUp: FT_EFF_Eigen_C_2__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_C_2
	Type: HISTO

Systematic: "FT_EFF_Eigen_C_3"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_C_3__1down
	HistoFolderNameUp: FT_EFF_Eigen_C_3__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_C_3
	Type: HISTO

Systematic: "FT_EFF_Eigen_Light_0"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_Light_0__1down
	HistoFolderNameUp: FT_EFF_Eigen_Light_0__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_Light_0
	Type: HISTO

Systematic: "FT_EFF_Eigen_Light_1"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_Light_1__1down
	HistoFolderNameUp: FT_EFF_Eigen_Light_1__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_Light_1
	Type: HISTO

Systematic: "FT_EFF_Eigen_Light_2"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_Light_2__1down
	HistoFolderNameUp: FT_EFF_Eigen_Light_2__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_Light_2
	Type: HISTO

Systematic: "FT_EFF_Eigen_Light_3"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_Light_3__1down
	HistoFolderNameUp: FT_EFF_Eigen_Light_3__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_Light_3
	Type: HISTO

Systematic: "FT_EFF_Eigen_Light_4"
	Category: Jet
	Exclude: *0b*
	HistoFolderNameDown: FT_EFF_Eigen_Light_4__1down
	HistoFolderNameUp: FT_EFF_Eigen_Light_4__1up
	SubCategory: FTag
	Symmetrisation: TWOSIDED
	Title: FT_EFF_Eigen_Light_4
	Type: HISTO

Systematic: "MET_SoftTrk_ResoPara"
	Category: Other
	HistoFolderNameUp: MET_SoftTrk_ResoPara
	SubCategory: MET
	Symmetrisation: ONESIDED
	Title: "MET SoftTrk ResoPara"
	Type: HISTO

Systematic: "MET_SoftTrk_ResoPerp"
	Category: Other
	HistoFolderNameUp: MET_SoftTrk_ResoPerp
	SubCategory: MET
	Symmetrisation: ONESIDED
	Title: "MET SoftTrk ResoPerp"
	Type: HISTO

Systematic: "MET_SoftTrk_Scale"
	Category: Other
	HistoFolderNameDown: MET_SoftTrk_Scale__1down
	HistoFolderNameUp: MET_SoftTrk_Scale__1up
	SubCategory: MET
	Symmetrisation: TWOSIDED
	Title: "MET SoftTrk Scale"
	Type: HISTO

Systematic: "MUON_CB"
	Category: Muon
	HistoFolderNameDown: MUON_CB__1down
	HistoFolderNameUp: MUON_CB__1up
	Regions: *1l*, *1e*, *1mu*
	Title: "MUON CB"
	Type: HISTO

Systematic: "MUON_EFF_ISO_SYS"
	Category: Muon
	HistoFolderNameDown: MUON_EFF_ISO_SYS__1down
	HistoFolderNameUp: MUON_EFF_ISO_SYS__1up
	Regions: *1l*, *1e*, *1mu*
	Symmetrisation: TWOSIDED
	Title: "MUON EFF ISO SYS"
	Type: HISTO

Systematic: "MUON_EFF_TrigSystUncertainty"
	Category: Muon
	HistoFolderNameDown: MUON_EFF_TrigSystUncertainty__1down
	HistoFolderNameUp: MUON_EFF_TrigSystUncertainty__1up
	Regions: *1l*, *1e*, *1mu*
	Symmetrisation: TWOSIDED
	Title: "MUON EFF TrigSystUncertainty"
	Type: HISTO

Systematic: "Zfake_modeling"
	Category: Theory
	OverallDown: -1.0
	OverallUp: 1.0
	Regions: *1tau*
	Samples: Znunu,Zll
	Symmetrisation: TWOSIDED
	Title: "fake tau modeling for Znunu"
	Type: OVERALL

Systematic: "Zll_modeling"
	Category: Theory
	OverallDown: -0.3
	OverallUp: 0.3
	Regions: SR*,*VR*
	Samples: Ztautau,Zll
	Symmetrisation: TWOSIDED
	Title: "Zll modeling"
	Type: OVERALL

Systematic: "Diboson_modeling"
	Category: Theory
	OverallDown: -0.3
	OverallUp: 0.3
	Regions: SR*,*VR*
	Samples: Diboson
	Symmetrisation: TWOSIDED
	Title: "Diboson modeling"
	Type: OVERALL

Systematic: "Wjets_HF_modeling_Res"
	Category: Theory
	OverallDown: -0.3
	OverallUp: 0.3
	Regions: *1b*_Res*,*2b*_Res*
	Samples: W*
	Symmetrisation: TWOSIDED
	Title: "Wjets HF modeling (Res.)"
	Type: OVERALL

Systematic: "Wjets_HF_modeling_NonRes"
	Category: Theory
	OverallDown: -0.3
	OverallUp: 0.3
	Regions: *1b*_NonRes*,*2b*_NonRes*
	Samples: W*
	Symmetrisation: TWOSIDED
	Title: "Wjets HF modeling (Non-Res.)"
	Type: OVERALL

Systematic: "Wjets_QCD_Res"
	Category: Theory
	OverallDown: -0.17
	OverallUp: 0.1
	Regions: SR*_Res*,*VR*_Res*
	Samples: W*
	SubCategory: "Wjets modeling"
	Symmetrisation: TWOSIDED
	Title: "Wjets_QCD_Scale (Res.)"
	Type: OVERALL

Systematic: "Wjets_PDF_AlphaS_Res"
	Category: Theory
	OverallDown: -0.001
	OverallUp: -0.02
	Regions: SR*_Res*,*VR*_Res*
	Samples: W*
	SubCategory: "Wjets modeling"
	Symmetrisation: TWOSIDED
	Title: "Wjets_PDF_AlphaS (Res.)"
	Type: OVERALL

Systematic: "Wjets_QCD_NonRes"
	Category: Theory
	OverallDown: -0.16
	OverallUp: 0.14
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: W*
	SubCategory: "Wjets modeling"
	Symmetrisation: TWOSIDED
	Title: "Wjets_QCD_Scale (Non-Res.)"
	Type: OVERALL

Systematic: "Wjets_PDF_AlphaS_NonRes"
	Category: Theory
	OverallDown: -0.03
	OverallUp: 0.03
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: W*
	SubCategory: "Wjets modeling"
	Symmetrisation: TWOSIDED
	Title: "Wjets_PDF_AlphaS (Non-Res.)"
	Type: OVERALL

Systematic: "Wjets_EW_Corr_Res"
	Category: Theory
	OverallDown: -0.04
	OverallUp: 0.04
	Regions: SR*_Res*,*VR*_Res*
	Samples: W*
	SubCategory: "Wjets modeling"
	Symmetrisation: TWOSIDED
	Title: "Wjets_EW_CORRECTION (Res.)"
	Type: OVERALL

Systematic: "Wjets_EW_Corr_NonRes"
	Category: Theory
	OverallDown: -0.01
	OverallUp: 0.01
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: W*
	SubCategory: "Wjets modeling"
	Symmetrisation: TWOSIDED
	Title: "Wjets_EW_CORRECTION (Non-Res.)"
	Type: OVERALL

Systematic: "luminosity"
	Category: Other
	OverallDown: -0.0083
	OverallUp: 0.0083
	SubCategory: Luminosity
	Title: Luminosity
	Type: OVERALL

Systematic: "PRW_DATASF"
	Category: Other
	HistoFolderNameDown: PRW_DATASF__1down
	HistoFolderNameUp: PRW_DATASF__1up
	SubCategory: Pileup
	Symmetrisation: TWOSIDED
	Title: PRW_DATASF
	Type: HISTO

Systematic: "TOP_Recoil_NonRes"
	Category: Theory
	OverallDown: 0.13
	OverallUp: -0.13
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_Recoil_TO_TOP (Non-Res.)"
	Type: OVERALL

Systematic: "TOP_hdamp_NonRes"
	Category: Theory
	OverallDown: 0.07
	OverallUp: -0.07
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_HDAMP (Non-Res.)"
	Type: OVERALL

Systematic: "TOP_ISR_NonRes"
	Category: Theory
	OverallDown: -0.13
	OverallUp: 0.16
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_ISR (Non-Res.)"
	Type: OVERALL

Systematic: "TOP_FSR_NonRes"
	Category: Theory
	OverallDown: -0.25
	OverallUp: 0.01
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_FSR (Non-Res.)"
	Type: OVERALL

Systematic: "TOP_Wt_Res"
	Category: Theory
	OverallDown: 0.1
	OverallUp: -0.1
	Regions: SR*_Res*,*VR*_Res*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_WT_INTERFERENCE (Res.)"
	Type: OVERALL

Systematic: "TOP_ME_NonRes"
	Category: Theory
	OverallDown: 0.15
	OverallUp: -0.15
	Regions: SR*_NonRes*,*VR*_NonRes*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_ME (Non-Res.)"
	Type: OVERALL

Systematic: "TOP_FSR_Res"
	Category: Theory
	OverallDown: -0.24
	OverallUp: 0.19
	Regions: SR*_Res*,*VR*_Res*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_FSR (Res.)"
	Type: OVERALL

Systematic: "TOP_QCD_muF_Res"
	Category: Theory
	OverallDown: -0.09
	OverallUp: 0.12
	Regions: SR*_Res*,*VR*_Res*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_QCD_scale_muF (Res.)"
	Type: OVERALL

Systematic: "TOP_QCD_muR_Res"
	Category: Theory
	OverallDown: -0.19
	OverallUp: 0.15
	Regions: SR*_Res*,*VR*_Res*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_QCD_scale_muR (Res.)"
	Type: OVERALL

Systematic: "TOP_ME_Res"
	Category: Theory
	OverallDown: 0.06
	OverallUp: -0.06
	Regions: SR*_Res*,*VR*_Res*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_ME (Res.)"
	Type: OVERALL

Systematic: "TOP_PS_Res"
	Category: Theory
	OverallDown: -0.16
	OverallUp: 0.16
	Regions: SR*_Res*,*VR*_Res*
	Samples: ttbar,SingleTop
	SubCategory: "Top modeling"
	Symmetrisation: TWOSIDED
	Title: "TOP_PS (Res.)"
	Type: OVERALL
