% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_SR"
	BlindSRs: True
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: ./output_plots/taunub_sig
	ImageFormat: png
	LegendX1: 0.46
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MCstatThreshold: 0.01
	POI: SigXsecOverSM
	PlotOptions: YIELDS
	PrePostFitCanvasSize: 800,700
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	StatOnly: True
	SummaryPlotYmax: 1e3

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: True
	FitRegion: CRONLY
	FitType: BONLY
	POIAsimov: 1
	UseMinos: SigXsecOverSM
	doLHscan: all

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_sch_tau_pt_0"
	HistoName: NOSYS/tau_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: tau_pt_0

Region: "SR_1tau0l1b_sch_lep_pt_0"
	HistoName: NOSYS/lep_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: lep_pt_0

Region: "SR_1tau0l1b_sch_met_wpSet0"
	HistoName: NOSYS/met_wpSet0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: met_wpSet0

Region: "SR_1tau0l1b_sch_met"
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: met

Region: "SR_1tau0l1b_sch_bjet_pt_0"
	HistoName: NOSYS/bjet_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: bjet_pt_0

Region: "SR_1tau0l1b_sch_jet_pt_0"
	HistoName: NOSYS/jet_pt_0_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: jet_pt_0

Region: "SR_1tau0l1b_sch_mT_tau_met"
	HistoName: NOSYS/mT_tau_met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: mT_tau_met

Region: "SR_1tau0l1b_sch_mT_lep0_met"
	HistoName: NOSYS/mT_lep0_met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: mT_lep0_met

Region: "SR_1tau0l1b_sch_Mbtau"
	HistoName: NOSYS/Mbtau_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: Mbtau

Region: "SR_1tau0l1b_sch_Mlep0B"
	HistoName: NOSYS/Mlep0B_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: Mlep0B

Region: "SR_1tau0l1b_sch_MJetTau"
	HistoName: NOSYS/MJetTau_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: MJetTau

Region: "SR_1tau0l1b_sch_Mlep0Jet"
	HistoName: NOSYS/Mlep0Jet_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: Mlep0Jet

Region: "SR_1tau0l1b_sch_nbJets85"
	HistoName: NOSYS/nbJets85_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: nbJets85

Region: "SR_1tau0l1b_sch_nJets"
	HistoName: NOSYS/nJets_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: nJets

Region: "SR_1tau0l1b_sch_tau_met_deltaphi"
	HistoName: NOSYS/tau_met_deltaphi_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi

Region: "SR_1tau0l1b_sch_lep0_met_deltaphi"
	HistoName: NOSYS/lep0_met_deltaphi_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: lep0_met_deltaphi

Region: "SR_1tau0l1b_sch_flag_minDPhi"
	HistoName: NOSYS/flag_minDPhi_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: flag_minDPhi

Region: "SR_1tau0l1b_tch_tau_pt_0"
	HistoName: NOSYS/tau_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: tau_pt_0

Region: "SR_1tau0l1b_tch_lep_pt_0"
	HistoName: NOSYS/lep_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: lep_pt_0

Region: "SR_1tau0l1b_tch_met_wpSet0"
	HistoName: NOSYS/met_wpSet0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: met_wpSet0

Region: "SR_1tau0l1b_tch_met"
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: met

Region: "SR_1tau0l1b_tch_bjet_pt_0"
	HistoName: NOSYS/bjet_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: bjet_pt_0

Region: "SR_1tau0l1b_tch_jet_pt_0"
	HistoName: NOSYS/jet_pt_0_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: jet_pt_0

Region: "SR_1tau0l1b_tch_mT_tau_met"
	HistoName: NOSYS/mT_tau_met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: mT_tau_met

Region: "SR_1tau0l1b_tch_mT_lep0_met"
	HistoName: NOSYS/mT_lep0_met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: mT_lep0_met

Region: "SR_1tau0l1b_tch_Mbtau"
	HistoName: NOSYS/Mbtau_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: Mbtau

Region: "SR_1tau0l1b_tch_Mlep0B"
	HistoName: NOSYS/Mlep0B_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: Mlep0B

Region: "SR_1tau0l1b_tch_MJetTau"
	HistoName: NOSYS/MJetTau_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: MJetTau

Region: "SR_1tau0l1b_tch_Mlep0Jet"
	HistoName: NOSYS/Mlep0Jet_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: Mlep0Jet

Region: "SR_1tau0l1b_tch_nbJets85"
	HistoName: NOSYS/nbJets85_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: nbJets85

Region: "SR_1tau0l1b_tch_nJets"
	HistoName: NOSYS/nJets_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: nJets

Region: "SR_1tau0l1b_tch_tau_met_deltaphi"
	HistoName: NOSYS/tau_met_deltaphi_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: tau_met_deltaphi

Region: "SR_1tau0l1b_tch_lep0_met_deltaphi"
	HistoName: NOSYS/lep0_met_deltaphi_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: lep0_met_deltaphi

Region: "SR_1tau0l1b_tch_flag_minDPhi"
	HistoName: NOSYS/flag_minDPhi_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: flag_minDPhi

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "LQ_taunub_M1500_BSM"
	FillColor: 3
	HistoFile: LQ_taunub_M1500_BSM
	LineColor: 3
	Title: LQ_taunub_M1500_BSM
	Type: BACKGROUND

Sample: "LQ_taunub_M1500_Inf"
	FillColor: 4
	HistoFile: LQ_taunub_M1500_Inf
	LineColor: 4
	Title: LQ_taunub_M1500_Inf
	Type: BACKGROUND

Sample: "LQ_taunub_M2500_BSM"
	FillColor: 5
	HistoFile: LQ_taunub_M2500_BSM
	LineColor: 5
	Title: LQ_taunub_M2500_BSM
	Type: BACKGROUND

Sample: "LQ_taunub_M2500_Inf"
	FillColor: 6
	HistoFile: LQ_taunub_M2500_Inf
	LineColor: 6
	Title: LQ_taunub_M2500_Inf
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "SigXsecOverSM"
	Max: 10
	Min: 0
	Nominal: 1
	Samples: ttbar
	Title: "#mu(signal)"

NormFactor: "top_Norm"
	Max: 3
	Min: 0
	Nominal: 1
	Samples: "ttbar","SingleTop","ttZ"
	Title: "#mu(top)"

NormFactor: "Wjets_Norm"
	Max: 3
	Min: 0
	Nominal: 1
	Samples: W*
	Title: "#mu(Wjets)"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

