% ------- %
% - JOB - %
% ------- %

Job: "fit_taunub_sys_1l_allVR_pdf_test"
	BlindSRs: False
	DoPieChartPlot: True
	DoSummaryPlot: True
	DoTables: True
	HistoChecks: NOCRASH
	HistoPath: ./output_plots/taunub_sys_1l_allVR_INTNOTE
	ImageFormat: png
	LegendX1: 0.46
	LegendX1Summary: 0.35
	LegendX2Summary: 0.9
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	MergeUnderOverFlow: True
	POI: gU
	PlotLabel: Internal
	PlotOptions: NOSIG,YIELDS,OVERSIG
	PrePostFitCanvasSize: 800,600
	RatioType: DATAOVERBKG
	RatioYmax: 2
	RatioYmaxPostFit: 2
	RatioYmin: 0
	RatioYminPostFit: 0
	ReadFrom: HIST
	RecreateBinningFiles: True
	SummaryPlotYmax: 1e5
	SystControlPlots: True
	SystPruningNorm: 0.005
	SystPruningShape: 0.005
	UseGammaPulls: True

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: False
	FitRegion: CRSR
	FitType: SPLUSB
	NumCPU: 8
	POIAsimov: 1
	UseMinos: gU
	doLHscan: all

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR_1tau0l1b_sch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_sch
	Label: SR_1tau0l1b_sch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_sch
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "SR_1tau0l1b_tch_met"
	DataType: ASIMOV
	HistoName: NOSYS/met_SR_1tau0l1b_tch
	Label: SR_1tau0l1b_tch
	LogScale: True
	Rebinning: 0,1500
	ShortLabel: SR_1tau0l1b_tch
	Type: SIGNAL
	VariableTitle: met
	Ymax: 1e2
	Ymin: 1e-1

Region: "WCR_0tau1l0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_sch
	Label: "0#tau1l0b, Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1l0b_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WCR_0tau1l0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WCR_0tau1l0b_tch
	Label: "0#tau1l0b, Non-Resonance WCR"
	LogScale: True
	ShortLabel: WCR_0tau1l0b_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_sch
	Label: "1#tau1l1b, Resonance topCR"
	LogScale: True
	ShortLabel: topCR_1tau1l_sch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topCR_1tau1l_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topCR_1tau1l_tch
	Label: "1#tau1l1b, Non-Resonance topCR"
	LogScale: True
	ShortLabel: topCR_1tau1l_tch
	Type: CONTROL
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_sch_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_sch
	Label: "0#tau1l1b, Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_sch
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "VR_0tau1l1b_tch_met_VR"
	DataType: DATA
	HistoName: NOSYS/met_VR_VR_0tau1l1b_tch
	Label: "0#tau1l1b, Non-Resonance 0tauVR"
	LogScale: True
	ShortLabel: VR_0tau1l1b_tch
	Type: VALIDATION
	VariableTitle: met_VR
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_sch
	Label: "1#tau0l0b, Resonance WVR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: WVR_1tau0l0b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "WVR_1tau0l0b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_WVR_1tau0l0b_tch
	Label: "1#tau0l0b, Non-Resonance WVR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: WVR_1tau0l0b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_sch_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_sch
	Label: "1#tau0l2b, Resonance topVR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: topVR_1tau0l2b_sch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

Region: "topVR_1tau0l2b_tch_met"
	DataType: DATA
	HistoName: NOSYS/met_topVR_1tau0l2b_tch
	Label: "1#tau0l2b, Non-Resonance topVR"
	LogScale: True
	Rebinning: 200,1200
	ShortLabel: topVR_1tau0l2b_tch
	Type: VALIDATION
	VariableTitle: met
	Ymax: 1e5
	Ymin: 1e-1

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "BSM_M1500_gU1_0_23L0_2"
	FillColor: 2
	HistoFile: BSM_M1500_gU1_0_23L0_2
	LineColor: 2
	Regions: SR_1tau0l1b_sch_met,WCR_0tau1l0b_sch_met,topCR_1tau1l_sch_met
	Title: "M_{LQ}=1.5 TeV, g_{U}=1.0, #beta_{23}=0.2, BSM"
	Type: SIGNAL

Sample: "INF_M1500_gU1_0_23L0_2"
	FillColor: 4
	HistoFile: INF_M1500_gU1_0_23L0_2
	LineColor: 4
	Regions: SR_1tau0l1b_sch_met,WCR_0tau1l0b_sch_met,topCR_1tau1l_sch_met
	Title: INF_M1500_gU1_0_23L0_2
	Type: BACKGROUND

Sample: "BSM_M2500_gU2_5_23L1_0"
	FillColor: 5
	HistoFile: BSM_M2500_gU2_5_23L1_0
	LineColor: 5
	Regions: SR_1tau0l1b_tch_met,WCR_0tau1l0b_tch_met,topCR_1tau1l_tch_met
	Title: BSM_M2500_gU2_5_23L1_0
	Type: BACKGROUND

Sample: "INF_M2500_gU2_5_23L1_0"
	FillColor: 6
	HistoFile: INF_M2500_gU2_5_23L1_0
	LineColor: 6
	Regions: SR_1tau0l1b_tch_met,WCR_0tau1l0b_tch_met,topCR_1tau1l_tch_met
	Title: INF_M2500_gU2_5_23L1_0
	Type: BACKGROUND

Sample: "Data"
	FillColor: 1
	HistoFile: Data
	LineColor: 1
	TexTitle: Data
	Title: Data
	Type: DATA

Sample: "ttbar_dilep"
	FillColor: 117
	Group: ttbar
	HistoFile: ttbar_dilep
	LineColor: 117
	Title: "t#bar{t}_dilep"
	Type: BACKGROUND

Sample: "ttZ"
	FillColor: 120
	Group: ttbar
	HistoFile: ttZ
	LineColor: 120
	Title: ttZ
	Type: BACKGROUND

Sample: "SingleTop_tch"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop_tch
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "SingleTop_sch"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop_sch
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "SingleTop_tW"
	FillColor: 119
	Group: SingleTop
	HistoFile: SingleTop_tW
	LineColor: 119
	Title: "Single Top"
	Type: BACKGROUND

Sample: "Zll"
	FillColor: 121
	Group: Z+jets
	HistoFile: Zll
	LineColor: 121
	Title: Zll+j
	Type: BACKGROUND

Sample: "Znunu"
	FillColor: 122
	Group: Z+jets
	HistoFile: Znunu
	LineColor: 122
	Title: "Z#nu#nu+j"
	Type: BACKGROUND

Sample: "Ztautau"
	FillColor: 123
	Group: Z+jets
	HistoFile: Ztautau
	LineColor: 123
	Title: "Z#tau#tau+j"
	Type: BACKGROUND

Sample: "Zjet_EWK"
	FillColor: 106
	Group: Z+jets
	HistoFile: Zjet_EWK
	LineColor: 106
	Title: Zjet_EWK
	Type: BACKGROUND

Sample: "Wjets"
	FillColor: 125
	Group: W+jets
	HistoFile: Wjets
	LineColor: 125
	Title: Wjets
	Type: BACKGROUND

Sample: "Diboson"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson
	LineColor: 118
	Title: Diboson
	Type: BACKGROUND

Sample: "Diboson_semiLep"
	FillColor: 118
	Group: Diboson
	HistoFile: Diboson_semiLep
	LineColor: 118
	Title: Diboson_semilep
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "gU"
	Category: Theory
	Max: 10
	Min: -0.5
	Nominal: 1
	Samples: BSM_M1500_gU1_0_23L0_2
	Title: "#gu^4(signal)"

NormFactor: "top_Norm_tch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: tt*, SingleTop*
	Title: "#mu(top_tch)"

NormFactor: "Wjets_Norm_tch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *tch*
	Samples: W*
	Title: "#mu(Wjets_tch)"

NormFactor: "top_Norm_sch"
	Category: top
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: tt*, SingleTop*
	Title: "#mu(top_sch)"

NormFactor: "Wjets_Norm_sch"
	Category: W+jets
	Constant: False
	Max: 3
	Min: 0
	Nominal: 1
	Regions: *sch*
	Samples: W*
	Title: "#mu(Wjets_sch)"

% --------------- %
% - SYSTEMATICS - %
% --------------- %

Systematic: "W_theory_PDF_1"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303201
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 1"

Systematic: "W_theory_PDF_2"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303202
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 2"

Systematic: "W_theory_PDF_3"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303203
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 3"

Systematic: "W_theory_PDF_4"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303204
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 4"

Systematic: "W_theory_PDF_5"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303205
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 5"

Systematic: "W_theory_PDF_6"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303206
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 6"

Systematic: "W_theory_PDF_7"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303207
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 7"

Systematic: "W_theory_PDF_8"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303208
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 8"

Systematic: "W_theory_PDF_9"
	Category: "Weak boson theory"
	CombineName: W_theory_PDF
	CombineType: STANDARDDEVIATIONNODDOF
	HistoFolderNameUp: GEN_MUR1_MUF1_PDF303209
	Samples: Wjets
	SubCategory: W
	Symmetrisation: ONESIDED
	Title: "W boson NNPDF 9"

